<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>Pipes incluidos en Angular</p>
    <div class="p-grid">
        <div class="p-col-4">
            <p-card header="Uppercase" [subheader]="nombre">
                <hr/> {{nombre | uppercase}}
            </p-card>
        </div>
        <div class="p-col-4">
            <p-card header="Lowercase" [subheader]="nombreUpper">
                <hr/>{{nombreUpper | lowercase}}
            </p-card>
        </div>
        <div class="p-col-4">
            <p-card header="Titlecase" [subheader]="nombreCompleto">
                <hr/>{{nombreCompleto | titlecase}}
            </p-card>
        </div>
    </div>
</div>